<div
  class="font-['Quicksand'] font-bold flex flex-col sm:flex-row h-screen items-center bg-[#F2F0EA] overflow-hidden"
>
  <!-- <div class="w-full sm:w-1/5 flex flex-col items-center">
    <div>Score</div>
  </div> -->
  <div
    class="game-board w-full sm:w-3/5 self-center flex flex-auto flex-col justify-between h-full gap-8"
  >
    <div class="flex flex-row">
      <div class="w-1/5 text-white">
        <div
          class="h-36 w-[12.33rem] bg-[url('assets/images/corner-rect.svg')] bg-contain bg-no-repeat"
        >
          <div class="flex flex-col items-center justify-center pt-5">
            <div class="text-3xl">Round {{ roundNum }}</div>
            <div class="text-4xl text-[#EC2981]">
              {{ secondsElapsed * 1000 | date: "mm:ss":"UTC" }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="enemy-deck w-4/5 rounded-xl flex flex-row justify-center gap-8 p-8 h-auto"
      >
        <div class="bg-gray-300 rounded-xl">
          <img class="card-size h-32" src="assets/images/card-back.svg" />
        </div>
        <div class="bg-gray-300 rounded-xl">
          <img class="card-size h-32" src="assets/images/card-back.svg" />
        </div>
        <div class="bg-gray-300 rounded-xl">
          <img class="card-size h-32" src="assets/images/card-back.svg" />
        </div>
        <div class="bg-gray-300 rounded-xl">
          <img class="card-size h-32" src="assets/images/card-back.svg" />
        </div>
      </div>
      <div class="w-1/5 h-36 flex flex-row items-center justify-end mr-5">
        <img class="h-1/3 w-auto" src="assets/images/coin.svg" />
        <div class="text-[#4F3E92] text-3xl mx-4 my-8">{{ coinsEarned | number: "1.2-2" }}</div>
      </div>
    </div>
    <div
      class="fight-area rounded-xl bg-[#E1DFDA] border-4 border-black flex flex-row w-full max-w-5xl self-center justify-center h-1/2"
    >
      <div class="flex flex-row justify-between ml-16 mr-8 my-2 grow">
        <div
          class="enemy-list empty-card card-size transition-shadow duration-300 flex flex-row justify-between card-size self-center rounded-xl bg-gray-100"
        >
          <ng-container class="card" *ngFor="let card of enemyFightingZones[0]">
            <app-draggable-card
              [card]="card"
              [showHealth]="true"
              [dragDisabled]="true"
              #wrapper
            ></app-draggable-card>
            <ng-container
              *ngTemplateOutlet="
                wrapper.template === undefined ? null : wrapper.template
              "
            ></ng-container>
          </ng-container>
        </div>
        <div
          class="enemy-list empty-card card-size transition-shadow duration-300 flex flex-row justify-between card-size self-center rounded-xl bg-gray-100"
        >
          <ng-container *ngFor="let card of enemyFightingZones[1]">
            <app-draggable-card
              [card]="card"
              [showHealth]="true"
              [dragDisabled]="true"
              #wrapper
            ></app-draggable-card>
            <ng-container
              *ngTemplateOutlet="
                wrapper.template === undefined ? null : wrapper.template
              "
            ></ng-container>
          </ng-container>
        </div>
      </div>
      <div class="self-center">
        <button
          class="start-button py-2 px-8 rounded-xl text-xl transition-all"
          (click)="continue()"
        >
          Start
        </button>
      </div>
      <div
        class="flex flex-row justify-between mr-16 ml-8 my-2 grow"
        cdkDropListGroup
      >
        <div
          class="fighting-list empty-card card-size transition-shadow duration-300 flex flex-row justify-between card-size self-center rounded-xl bg-gray-100"
          cdkDropList
          (cdkDropListDropped)="dropCard($event, 1)"
          cdkDropListOrientation="horizontal"
          [cdkDropListConnectedTo]="[deckList]"
          [cdkDropListData]="fightingZones[0]"
          [cdkDropListEnterPredicate]="canBeDroppedToFight"
          #fightingZone1="cdkDropList"
        >
          <ng-container class="card" *ngFor="let card of fightingZones[0]">
            <app-draggable-card
              [card]="card"
              [showHealth]="true"
              #wrapper
            ></app-draggable-card>
            <ng-container
              *ngTemplateOutlet="
                wrapper.template === undefined ? null : wrapper.template
              "
            ></ng-container>
          </ng-container>
        </div>
        <div
          class="fighting-list empty-card card-size transition-shadow duration-300 flex flex-row justify-between card-size self-center rounded-xl bg-gray-100"
          cdkDropList
          (cdkDropListDropped)="dropCard($event, 2)"
          [cdkDropListConnectedTo]="[deckList]"
          [cdkDropListData]="fightingZones[1]"
          [cdkDropListEnterPredicate]="canBeDroppedToFight"
          #fightingZone2="cdkDropList"
        >
          <ng-container *ngFor="let card of fightingZones[1]">
            <app-draggable-card
              [card]="card"
              [showHealth]="true"
              #wrapper
            ></app-draggable-card>
            <ng-container
              *ngTemplateOutlet="
                wrapper.template === undefined ? null : wrapper.template
              "
            ></ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-between">
      <div class="w-1/12"></div>
      <div
        class="player-deck w-10/12 duration-300 rounded-xl flex flex-row gap-8 justify-center h-auto p-8"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="dropCard($event)"
        [cdkDropListConnectedTo]="[fightingZone1, fightingZone2]"
        [cdkDropListEnterPredicate]="canBeDroppedToDeck"
        [cdkDropListData]="deckCards"
        #deckList="cdkDropList"
      >
        <div class="card-full-size"></div>
        <ng-container class="card" *ngFor="let card of deckCards">
          <app-draggable-card
            class="card"
            [card]="card"
            [showHealth]="true"
            #wrapper
          ></app-draggable-card>
          <ng-container
            *ngTemplateOutlet="
              wrapper.template === undefined ? null : wrapper.template
            "
          ></ng-container>
        </ng-container>
      </div>
      <div class="self-end w-1/12 m-8">
        <img src="assets/images/logo-text.svg" />
      </div>
    </div>
  </div>
  <!-- <div class="w-full sm:w-1/5 flex flex-col items-center">

  </div> -->
</div>

<app-loader *ngIf="waitingForResp"></app-loader>

<div
  @openCloseAnimation
  *ngIf="showWinModal"
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <!--
          Background overlay, show/hide based on modal state.
    
          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
    <div
      class="fixed inset-0 bg-slate-100 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <!--
          Modal panel, show/hide based on modal state.
    
          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
    <div
      class="inline-block align-bottom bg-white rounded-xl px-4 pt-5 pb-6 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6 border-4 border-black"
    >
      <div class="flex flex-col gap-10 text-center justify-around">
        <p class="text-3xl text-[#ED2E82] font-bold">Congratulations!</p>
        <p class="text-2xl font-bold">You won</p>
        <div class="h-20 flex flex-row items-center justify-center">
          <img class="h-20 w-auto" src="assets/images/coin.svg" />
          <div class="text-[#4F3E92] text-5xl font-bold mx-4 my-8">
            {{ coinsEarned | number: "1.2-2" }}
          </div>
        </div>
        <button
          class="bg-[#FDDD5E] hover:bg-[#e4c446] shadow-[#FDDD5E] w-36 h-10 self-center rounded-xl text-xl font-bold"
          (click)="playAgain()"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

<div
  @openCloseAnimation
  *ngIf="showLoseModal"
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <!--
          Background overlay, show/hide based on modal state.
    
          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
    <div
      class="fixed inset-0 bg-slate-100 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <!--
          Modal panel, show/hide based on modal state.
    
          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
    <div
      class="inline-block align-bottom bg-white rounded-xl px-4 pt-5 pb-6 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6 border-4 border-black"
    >
      <div class="flex flex-col gap-10 text-center justify-around">
        <p class="text-3xl text-[#ED2E82] font-bold">You lost...</p>
        <p class="text-2xl font-bold">Redeem yourself</p>
        <button
          class="bg-[#FDDD5E] hover:bg-[#e4c446] shadow-[#FDDD5E] w-36 h-10 self-center rounded-xl text-xl font-bold"
          (click)="playAgain()"
        >
          Play again
        </button>
      </div>
    </div>
  </div>
</div>
