<div
  class="flex flex-col w-screen bg-cover min-h-screen bg-[url('assets/images/landing-bg.svg')] items-center"
>
  <!-- NavBar -->
  <div
    class="flex flex-row h-28 px-8 py-4 justify-between items-center w-full max-w-7xl"
  >
    <img src="assets/images/logo-text.svg" alt="" />
    <button
      routerLink="dashboard"
      class="bg-pink-main hover:bg-pink-hover rounded-2xl text-white px-6 py-3 h-min shadow-pinkBtn font-bold text-xl hover:shadow-none hover:translate-y-[6px] ease-in-out duration-100"
    >
      Launch App
    </button>
  </div>

  <!-- Hero Section -->
  <div class="flex flex-row items-center justify-around py-20 w-full max-w-7xl">
    <div>
      <div class="font-normal text-5xl py-2">Collect, Buy and Win</div>
      <div class="font-bold text-7xl mb-2">NFT Monsters</div>
      <div class="font-normal text-xl py-2">Play now for free!</div>
      <button
        routerLink="dashboard"
        class="bg-yellow-main hover:bg-yellow-hover rounded-2xl text-black px-6 py-3 h-min shadow-yellowBtn font-bold text-xl hover:shadow-none hover:translate-y-[6px] ease-in-out duration-100"
      >
        Launch App
      </button>
    </div>
    <div>
      <img aTilt src="assets/images/seth.svg" alt="" />
    </div>
  </div>

  <!-- Cards Section -->
  <div class="flex flex-col items-center justify-around w-full max-w-7xl pb-20">
    <div class="flex flex-row items-center justify-around p-12 gap-4">
      <img class="h-20" src="assets/images/fire.svg" alt="" />
      <p class="font-bold text-7xl">Monster Cards</p>
    </div>
    <div class="flex flex-row items-center justify-around w-full">
      <div
        aTilt
        [tiltSettings]="scaleSetting"
        class="flex flex-col justify-center items-center gap-3"
      >
        <img src="assets/images/common.svg" alt="" />
        <p class="font-bold text-2xl">Common</p>
      </div>
      <div
        aTilt
        [tiltSettings]="scaleSetting"
        class="flex flex-col justify-center items-center gap-3"
      >
        <img src="assets/images/rare.svg" alt="" />
        <p class="font-bold text-2xl">Rare</p>
      </div>
      <div
        aTilt
        [tiltSettings]="scaleSetting"
        class="flex flex-col justify-center items-center gap-3"
      >
        <img src="assets/images/super-rare.svg" alt="" />
        <p class="font-bold text-2xl">Super Rare</p>
      </div>
    </div>
  </div>
</div>
