<ng-template #template>
  <div
    class="card card-size bg-gray-300 rounded-xl text-center cursor-pointer"
    cdkDrag
    cdkDragBoundary=".game-board"
    [@addedRemoved]="card.added ? 'added' : 'removed'"
    [cdkDragDisabled]="dragDisabled"
    *ngIf="card"
  >
    <img class="card-size card-full-size" src="{{ card.meta.imgUrl }}" />
    <img
      class="card-size card-full-size"
      src="assets/images/card-blank.svg"
      *cdkDragPlaceholder
    />
    <div *ngIf="showHealth" class="w-40 bg-[#E1DFDA] h-1 relative top-1">
      <div
        class="h-1 bg-[#4E3D93] transition-[width]"
        style.width.%="{{ (card.health * 100) / card.meta.maxHealth }}"
      ></div>
    </div>
  </div>
</ng-template>
