<div
  class="flex flex-row bg-[url('assets/images/home-bg.svg')] h-screen w-screen bg-cover"
>
  <div class="h-full w-2/5">
    <div class="text-4xl font-semibold">My Collection</div>
    <div class="flex flex-row flex-wrap gap-8 p-8">
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
    </div>
  </div>
  <div class="h-full w-3/5"></div>
</div>
