<div
  @openCloseAnimation
  class="flex flex-row bg-[url('assets/images/home-bg.svg')] h-screen w-screen bg-cover items-center justify-center"
>
  <div class="wrapper mx-16 w-2/5">
    <div class="text-4xl font-semibold p-2">My Collection</div>
    <div class="box w-full overflow-y-scroll">
      <div
        class="relative flex flex-row flex-wrap gap-8 p-8 items-center justify-center"
      >
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
      </div>
      <div
        class="grid sticky bottom-0 bg-gradient-to-t from-[#F2F0EA] h-20 justify-items-end pr-28 items-center"
      >
        <button
          class="btn w-48 h-12 font-bold text-lg bg-[#FDDD5E] hover:bg-[#fdd120]"
        >
          Marketplace
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col h-full w-3/5 items-center justify-center">
    <div class="text-2xl font-semibold">Choose 8 cards for a face off</div>
    <div
      class="flex flex-row flex-wrap p-8 gap-8 mx-24 justify-center items-center"
    >
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
      <app-card-item></app-card-item>
    </div>
    <button
      class="btn-1 w-48 h-12 font-bold text-lg text-white bg-[#ed2e82] hover:bg-[#e9126f]"
    >
      Go for Battle
    </button>
  </div>
</div>
<div
  class="flex flex-row items-center justify-center p-8 absolute top-0 right-0 gap-4"
>
  <img class="h-14 md:h-20" src="assets/images/coin.svg" alt="" />
  <p class="font-bold text-5xl">1000</p>
</div>
<div
  class="flex flex-row items-center justify-center p-8 absolute bottom-0 right-0 gap-4"
>
  <img class="h-14 md:h-20" src="assets/images/logo-text.svg" alt="" />
</div>
